/* --------------
    font style
---------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*---------------------
    common styles 
----------------------*/

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------
This is only for tablet view
------------------------------ */
.view-button {
    margin-bottom: 50px;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    font-size: 30px;
    background: #DD0000;
    color: #FFFFFF;
    border: none;
    visibility: hidden;
}

/*---------------------
        banner style 
-----------------------*/


.banner {
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 140px 130px 140px;

}

.banner-details {
    color: white;
    margin-left: 106px;


}

.banner-details h3 {
    font-weight: 700px;
    font-size: 70px;
    line-height: 80px;
}

.banner-details p {
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
}

.banner-details button {
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;

    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}


.banner-background img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
}



/*-----------------------
    Side manu bar styeles 
------------------------- */

.manu-bar {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.manu-bar button {
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    color: #161616;
    margin: 30px;

}

.manu-bar .click-button {
    background: #DD0000;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #161616;
}

.manu-bar button a:hover {
    cursor: pointer;
}

/* --------------------------------
Blog post & All group styeles - webiste 1
-----------------------------------*/
.blog-section,
.group-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.blog,
.group {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}


.blog img,
.group img {
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}

.blog-details,
.group-details {
    display: flex;
    flex-direction: column;

}

.blog-details h3,
.group-details h3 {
    margin: 20px 0px 15px 20px;
    width: 150px;
    border: 1px solid #161616;
    border-radius: 5px;
    font-weight: 500px;
    font-size: 16px;
    text-align: center;
    color: #161616;
}

.blog-details h5,
.group-details h5 {
    margin: 0px 20px 20px 20px;
    font-weight: 600px;
    font-size: 18px;
    color: #161616;
}

.blog-info {
    display: flex;
    gap: 30px;
}

.blog-info p {
    margin: 0px 20px 20px 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}

.fa-regular {
    margin-right: 10px;
}

/*---------------------------------- 
upcomming match schedule styles- website 2
---------------------------------- */
.container-1 {
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
}

.upm-schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}


.upm-team-details {
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upm-team-flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 0px 30px;
}

.upm-team-flag img {
    width: 93.04px;
    height: 56.18px;
}

.upm-team-info h4 {
    margin: 20px 50px 10px 50px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #161616;
}

.upm-team-info h5 {
    margin: 0px 73px 52px 73px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #4D4D4D;

}

/* ------------------------
Bottom navigation bar Style
---------------------------*/

.bottom-header {
    width: 100%;
    height: 444px;
    display: flex;
    flex-direction: column;
    background-color: #161616;
}

.bottom-header h2 {
    margin-top: 130px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.bottom-header hr {
    width: 80%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-bar ul {

    display: flex;
    justify-content: center;
    gap: 40px;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
}

.nav-bar ul li:hover {
    padding: 10px;
    border-radius: 3px;
    background-color: #4D4D4D;
}

/*----------------------------
    Media Quary For Mobile
 ----------------------------- */
@media only screen and (max-width: 767px) {
    .banner {
        width: 100%;
        height: fit-content;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-details {
        margin-left: 0px;
        text-align: center;


    }

    .banner-details h3 {
        font-size: 300%;
    }

    .banner-details p {
        font-size: 100%;

    }

    .banner-details button {
        width: 50%;
        height: 10%;
    }


    .banner-background img {
        width: 80%;
        height: 90%;
    }

    .container-1 {
        display: flex;
        flex-direction: column;
    }

    .manu-bar {
        background: none;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .manu-bar button {
        border: 1px solid #E8E8E8;
        margin: 10px 30px;
    }

    .blog-section,
    .group-section,
    .upm-schedule {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .bottom-header {
        height: fit-content;
    }

    .bottom-header hr {
        width: 70%;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*----------------------------
    Media Quary For Tablet
 ----------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .banner {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;

    }

    .banner-details {
        margin-left: 50px;
    }

    .banner-details h3 {
        font-weight: 700px;
        font-size: 50px;
        line-height: auto;
    }

    .banner-details p {
        font-size: 16px;
        line-height: auto;
    }

    .banner-details button {
        width: 187px;
        height: 56px;
        background: #DD0000;
        border-radius: 5px;

        font-size: 20px;
        text-align: center;
        color: #FFFFFF;

        margin-bottom: 50px;
    }


    .banner-background img {
        width: 95%;
        height: fit-content;
        margin-top: 35%;
    }

    .container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .manu-bar {
        background: none;
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .manu-bar button {
        border: 1px solid #E8E8E8;
        margin: 20px 20px;
    }

    .blog-section,
    .group-section,
    .upm-schedule {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .bottom-header {
        width: 100%;
    }

    .bottom-header hr {
        width: 70%;
    }

    .view-button {
        visibility: visible;
    }
}